{% load static %}


<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <img src="{% static 'assets/logo_emez.png' %}" alt="EmezClinic Logo" class="logo" />
        </div>
        <div class="footer-section">
            <h3>Hubungi Kami</h3>
            <p>Jl. Dr. Ir. H. Soekarno, Mulyorejo, Kec. Mulyorejo, Surabaya, Jawa Timur 60115</p>
            <div class="contact-info">
                <p><i class="fas fa-envelope"></i> emezclinic@gmail.com</p>
                <p><i class="fas fa-phone"></i> 021 837647</p>
                <p><i class="fab fa-whatsapp"></i> 087763625365</p>
            </div>
        </div>
        <div class="footer-section">
            <h3>Ikuti Kami</h3>
            <div class="social-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-tiktok"></i>
            </div>
        </div>
    </div>
</footer>

<!-- Tambahkan link ke Font Awesome untuk ikon -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
